@import url('variables.css');

.hero {
  background: url('../images/header-bg.jpg') center/cover;
  padding: var(--space-xl) var(--space-lg);
  text-align: center;
  color: black;
}

.hero h1 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-md);
}

.hero p {
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-lg);
}

.btn {
  display: inline-block;
  background: var(--color-secondary);
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--radius);
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: var(--color-hover);
}
