@import url('variables.css');
@import url('polices/poppins.css'); /* si tu en as */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  color: var(--color-dark);
  background: var(--color-bg);
  line-height: 1.6;
}

/* --- HEADER --- */
header {
  background: var(--color-primary);
  color: white;
  padding: var(--space-md);
  box-shadow: var(--shadow-soft);
}

nav {
  display: flex;
  gap: var(--space-md);
}

.menu a {
    position: relative;
    display: inline-block;
    transition: transform 0.25s ease;
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--color-brand-primary);
    transition: width 0.25s ease;
}

.menu a:hover {
    transform: scale(1.12);
}

.menu a:hover::after {
    width: 100%;
}


nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius);
  transition: background 0.3s;
}

nav a:hover {
  background: var(--color-hover);
}

/* --- FOOTER --- */
footer {
  margin-top: var(--space-xl);
  text-align: center;
  padding: var(--space-md);
  background: var(--color-light);
}
